analyze the famous kaggle black_friday.csv :
https://www.kaggle.com/datasets/sdolezel/black-friday

In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set(rc={'figure.figsize': [7, 5]}, font_scale=1.3)

In [ ]:
df = pd.read_csv('black_friday.csv')

## Gitting the first 5 records :

In [ ]:
df.head()

## Shape of data (rows, columns) :

In [ ]:
df.shape

## Checking the data types :

In [ ]:
df.info()

## Check duplicated values :

In [ ]:
df.duplicated().sum()

## Checking missing values :

In [ ]:
df.isnull().sum()

-----------------------------------------------------------------

## Applying univariate on each column :

### `User_ID` column :

In [ ]:
len(df['User_ID'].unique().tolist())

In [ ]:
df['User_ID'].value_counts(dropna=False)

----------------------------------------------------------------------

### `Product_ID` column :

In [ ]:
len(df['Product_ID'].unique().tolist())

In [ ]:
df['Product_ID'].value_counts(dropna=False)

----------------------------------------------------------------------

### `Gender` column :

In [ ]:
df['Gender'].unique()

In [ ]:
df['Gender'].value_counts()

In [ ]:
px.histogram(data_frame=df, x='Gender', text_auto=True).update_xaxes(categoryorder = "total descending")

----------------------------------------------------------------------

### `Age` column :

In [ ]:
df['Age'].unique().tolist()

In [ ]:
df['Age'].value_counts(dropna=False)

In [ ]:
px.histogram(data_frame=df, x='Age', text_auto=True).update_xaxes(categoryorder = "total descending")

----------------------------------------------------------------------

### `Occupation` column :

In [ ]:
sorted(df['Occupation'].unique().tolist())

In [ ]:
df['Occupation'].value_counts(dropna=False)

In [ ]:
px.histogram(data_frame=df, x='Occupation', nbins=21)

In [ ]:
px.box(data_frame=df, x='Occupation')

----------------------------------------------------------------------

### `City_Category` column :

In [ ]:
df['City_Category'].unique()

In [ ]:
df['City_Category'].value_counts()

In [ ]:
px.histogram(data_frame=df, x='City_Category', text_auto=True).update_xaxes(categoryorder = "total descending")

----------------------------------------------------------------------

### `Stay_In_Current_City_Years` column :

In [ ]:
df['Stay_In_Current_City_Years'].unique()

In [ ]:
df['Stay_In_Current_City_Years'].value_counts(dropna=False)

In [ ]:
px.histogram(data_frame=df, x='Stay_In_Current_City_Years', text_auto=True).update_xaxes(categoryorder = "total descending")

----------------------------------------------------------------------

### `Marital_Status` column :

In [ ]:
df['Marital_Status'].unique()

In [ ]:
df['Marital_Status'].value_counts()

In [ ]:
px.histogram(data_frame=df, x='Marital_Status', nbins=2)

----------------------------------------------------------------------

### `Product_Category_1` column :

In [ ]:
sorted(df['Product_Category_1'].unique().tolist())

In [ ]:
df['Product_Category_1'].value_counts(dropna=False)

In [ ]:
px.box(data_frame=df, x='Product_Category_1')

In [ ]:
#Outliers:
df[(df['Product_Category_1'] == 19) | (df['Product_Category_1'] == 20)]

In [ ]:
sns.boxplot(data=df, x='Product_Category_1')

----------------------------------------------------------------------

### `Product_Category_2` column :

In [ ]:
sorted(df['Product_Category_2'].unique().tolist())

In [ ]:
df['Product_Category_2'].value_counts(dropna=False)

In [ ]:
df['Product_Category_2'].isnull().sum()

#### this '`Product_Category_2`' column need action on the above 30% of the missing data on it  
* we will fill the missing data in this column with value `zero` :

In [ ]:
#before filling missing data with 0.0 value:
df['Product_Category_2'].value_counts(dropna=False, normalize=True)*100

In [ ]:
df['Product_Category_2'].fillna(0, inplace=True)

In [ ]:
#After filling the missing data :
df['Product_Category_2'].value_counts(dropna=False, normalize=True)*100

In [ ]:
#befor filling the missing value :
px.box(data_frame=df, x='Product_Category_2')

In [ ]:
#After filling the missing values:
px.box(data_frame=df, x='Product_Category_2')

----------------------------------------------------------------------

### `Product_Category_3` column :

In [ ]:
sorted(df['Product_Category_3'].unique().tolist())

In [ ]:
df['Product_Category_3'].value_counts(dropna=False)

#### this '`Product_Category_3`' column need action on the above 69% of the missing data on it  ↆ
* we will fill the missing data in this column with value `zero` :

In [ ]:
# before filling missing data with 0.0 value : 
df['Product_Category_3'].value_counts(dropna=False, normalize=True)*100

In [ ]:
# fillinh the missing data :
df['Product_Category_3'].fillna(0, inplace=True)

In [ ]:
# After filling missing data with 0.0 value : 
df['Product_Category_3'].value_counts(dropna=False, normalize=True)*100

In [ ]:
#Before filling the missing data with 0.0 value:
px.box(data_frame=df, x='Product_Category_3')

In [ ]:
# After filling the missing data with 0.0 value:
px.box(data_frame=df, x='Product_Category_3')

----------------------------------------------------------------------

# Checking the missing Value again :

In [ ]:
df.isnull().sum()

----------------------------------------------------------------------

### `Purchase` column :

In [ ]:
sorted(df['Purchase'].unique().tolist())

In [ ]:
len(df['Purchase'].unique().tolist())

In [ ]:
df['Purchase'].value_counts(dropna=False)

In [ ]:
df['Purchase'].describe()

In [ ]:
df[df['Purchase'] == df['Purchase'].max()]

In [ ]:
df[df['Purchase'] == df['Purchase'].min()]

----------------------------------------------------------------------

----------------------------------------------------------------------

## 1) What is the total number of each gender in each age ?

In [ ]:
px.histogram(data_frame=df, x='Age', color='Gender', barmode='group', text_auto=True).update_xaxes(categoryorder = "total descending")

In [ ]:
pd.pivot_table(data=df , index = 'Age' , columns = "Gender" , values="User_ID",aggfunc=np.count_nonzero)

---------------------------------------------------------------------------------------

## 2) What is the total purchases that done by female users and above 15 in `Occupation` column?

In [ ]:
df[(df['Gender'] == 'F') & (df['Occupation'] > 15)]['Purchase'].sum()

---------------------------------------------------------------------------------------

## 3) How many 55+ aged males that staied less than a year in their  current city ?

In [ ]:
df_m_55 = df[(df['Gender'] == 'M') & (df['Age'] == '55+')]

In [ ]:
df_m_55[df_m_55['Stay_In_Current_City_Years'] == '0']['User_ID'].count()

---------------------------------------------------------------------------------------

## 4) How many married of both genders in each age range that got purchases in all categories? and What is the cheapest product they bought?

In [ ]:
df_cat_2_and_3 = df[(df['Product_Category_2']>0) & (df['Product_Category_3']>0)]

In [ ]:
all_cat_marrd_df = df_cat_2_and_3[(df_cat_2_and_3['Marital_Status'] == 1)]

In [ ]:
all_cat_marrd_df['Purchase'].describe()

In [ ]:
pd.pivot_table(data=all_cat_marrd_df , index = 'Age' , columns = "Gender" , values="User_ID",aggfunc=np.count_nonzero)

In [ ]:
px.histogram(data_frame=all_cat_marrd_df, x='Age', color='Gender', text_auto=True, barmode='group').update_xaxes(categoryorder = "total descending")

In [ ]:
all_cat_marrd_df[all_cat_marrd_df['Purchase'] == all_cat_marrd_df['Purchase'].min()]

---------------------------------------------------------------------------------------

## 5) How many single (unmarried) users ages above 55 years?

In [ ]:
abv_55_singl = df[(df['Marital_Status'] == 0) & (df['Age'] == '55+')]

In [ ]:
abv_55_singl['Gender'].value_counts()

In [ ]:
px.histogram(data_frame=abv_55_singl, x='Gender', text_auto=True)

In [ ]:
px.histogram(data_frame=df, x='Stay_In_Current_City_Years', color='City_Category', barmode='group')

---------------------------------------------------------------------------------------

## 6) What is the average purchases of those users that stayed more than 4 years in their cities that categorized `A` ?

In [ ]:
df[(df['City_Category'] == 'A') & (df['Stay_In_Current_City_Years'] == '4+')]['Purchase'].mean()

---------------------------------------------------------------------------------------

## 7) How many users purchases more than 800 times?

In [ ]:
user_df_abv_800 = df['User_ID'].value_counts().reset_index()

In [ ]:
user_df_abv_800 = user_df_abv_800.rename(columns={'index':'User_Id', 'User_ID':'Count'})

In [ ]:
user_df_abv_800[user_df_abv_800['Count']>800]['User_Id'].count()

----------------------------------------------------------------------

In [ ]:
df

## The preprocessing is done in the other Notebook `preprocessing_black_friday.ipynb`